:root {
    --backgroundcolor: #686868;
    --textcolor: #ffffff;
}

body {
    font-family: 'NT Sakharov', sans-serif;
    
    background: hsla(205, 46%, 10%, 1);

background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1 );

    width: 100vw;
    font-feature-settings: "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "kern" 1;
}


::-webkit-scrollbar {
    display: none;
}


@font-face {
    font-family: 'NT Sakharov';
    src: url('../fonts/NTSakharov-Light.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: 'NT Sakharov';
    src: url('../fonts/NTSakharov-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'NT Sakharov';
    src: url('../fonts/NTSakharov-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}





a:link {
    color: #aaaaaa(100% 0.01 -0.01);
    text-decoration: underline;
}

a:visited {
    color:#aaaaaa;
    text-decoration: underline;
}

a:hover {
    color: #aaaaaa;
    text-decoration: underline;
}
a:active {
    color: #aaaaaa;
    text-decoration: underline;

}


.h2 {
    font-family: 'NT Sakharov', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--textcolor);
    line-height: 48px;
    text-align: left;
}



.links {
  padding: auto;
  display: grid;
  place-items: center;      /* центрирует по обеим осям */
  min-height: 100vh;
}

.links-list{
    display: flex;
    gap: 10px;
    max-width: 100%;
    justify-content: center;

    margin: 0 auto;
}

.square-btn {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  opacity: 70%;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  filter: grayscale(100%);
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* плавные переходы */
}

/* Эффект при наведении */
.square-btn:hover {
  opacity: 95%;
  filter: grayscale(10%);
  transform: scale(1.05); /* увеличение на 5% */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* тень */
}

/* Эффект при нажатии */
.square-btn:active {
  transform: scale(0.98); /* небольшое сжатие */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}


.white {color:var(--textcolor) !important; }
.white:hover {color: #b1b1b1ff !important;}

.nodecor {text-decoration: none !important; list-style: none;}


@media (max-width: 1500px), (max-height: 820px) {
}

@media (max-width: 1160px), (max-height: 675px) {
}

@media (max-width: 770px) {
    img {padding: 2%; margin-bottom: -5%}
    
    .profile_img {
        height: 50vh;
      }

    .spec {
        flex-direction: row;
    }
    
    .col-md-3{
        padding: 3%;
    }
}
